@import 'tailwindcss';

@layer base {
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}

/* WYSIWYG */
.ProseMirror a {
  color: #3b82f6; /* Bleu */
  text-decoration: underline;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Placeholder de TipTap */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd; /* Couleur grise */
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
